{% extends 'base/baseathos.html' %}
{% block contenido%}



<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
					<div class="card">
					<div class="card-header"><strong>Registro</strong><small>DETALLE  EV. CARTILLA DRENADO</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				

          <div class='form-group'>
          {{form.valvula.label}}
          {{form.valvula}}
        </div>
        

			
				<div class='form-group'>
					{{form.volumen_drenado.label}}
					{{form.volumen_drenado}}
				</div>
			

				<div class='form-group'>
					{{form.volumen_maceta.label}}
					{{form.volumen_maceta}}
				</div>
        
        <div class='form-group'>
          {{form.ce.label}}
          {{form.ce}}
        </div>			  
       

        <div class='form-group'>
          {{form.volumen_drenado_1m.label}}
          {{form.volumen_drenado_1m}}
        </div>
      
        <div class='form-group'>
          {{form.volumen_maceta_1m.label}}
          {{form.volumen_maceta_1m}}
        </div> 
        
        <div class='form-group'>
          {{form.ce_1m.label}}
          {{form.ce_1m}}
        </div>


         <div class='form-group'>
          {{form.volumen_drenado_1f.label}}
          {{form.volumen_drenado_1f}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_1f.label}}
          {{form.volumen_maceta_1f}}
        </div>

          <div class='form-group'>
          {{form.ce_1f.label}}
          {{form.ce_1f}}
        </div>



        <div class='form-group'>
          {{form.volumen_drenado_2i.label}}
          {{form.volumen_drenado_2i}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_2i.label}}
          {{form.volumen_maceta_2i}}
        </div>
        
         <div class='form-group'>
          {{form.ce_2i.label}}
          {{form.ce_2i}}
        </div>
       

        <div class='form-group'>
          {{form.volumen_drenado_2m.label}}
          {{form.volumen_drenado_2m}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_2m.label}}
          {{form.volumen_maceta_2m}}
        </div>
       
         <div class='form-group'>
          {{form.ce_2m.label}}
          {{form.ce_2m}}
        </div>




         <div class='form-group'>
          {{form.volumen_drenado_2f.label}}
          {{form.volumen_drenado_2f}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_2f.label}}
          {{form.volumen_maceta_2f}}
        </div>


         <div class='form-group'>
          {{form.ce_2f.label}}
          {{form.ce_2f}}
        </div>



         <div class='form-group'>
          {{form.volumen_drenado_3i.label}}
          {{form.volumen_drenado_3i}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_3i.label}}
          {{form.volumen_maceta_3i}}
        </div>
        
         
         <div class='form-group'>
          {{form.ce_3i.label}}
          {{form.ce_3i}}
        </div>


        <div class='form-group'>
          {{form.volumen_drenado_3m.label}}
          {{form.volumen_drenado_3m}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_3m.label}}
          {{form.volumen_maceta_3m}}
        </div>
       
          
         <div class='form-group'>
          {{form.ce_3m.label}}
          {{form.ce_3m}}
        </div>
      

         <div class='form-group'>
          {{form.volumen_drenado_3f.label}}
          {{form.volumen_drenado_3f}}
        </div>
      

        <div class='form-group'>
          {{form.volumen_maceta_3f.label}}
          {{form.volumen_maceta_3f}}
        </div>


         <div class='form-group'>
          {{form.ce_3f.label}}
          {{form.ce_3f}}
        </div>


				 
			
          <div class='form-group'>
          {{form.observacion.label}}
          {{form.observacion}}
        </div>
      
        <div class='form-group'>
          {{form.longitud.label}}
          {{form.longitud}}
        </div>
        <div class='form-group'>
          {{form.latitud.label}}
          {{form.latitud}}
        </div>
				<input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
			</form>
	</div>
	</div>
</div>
</div>
</div>
</section>
{% endblock %}
{%block script%}



 <script>  
     $(document).ready(function () {  
           jQuery.datetimepicker.setLocale('es');  
     });  
   </script> 

   
   


<script type="text/javascript">
     
      
      
      
 

   if ("geolocation" in navigator)
          { //check geolocation available 
    //try to get user current location using getCurrentPosition() method
         navigator.geolocation.getCurrentPosition(function(position){ 
             console.log("Found your location nLat : "+position.coords.latitude+" nLang :"+ position.coords.longitude);
             lat=position.coords.latitude;
             lon=position.coords.longitude;

             nlat=Math.round((lat)*10000000)/10000000;
             nlon=Math.round((lon)*10000000)/10000000;
             $("#id_longitud").val(nlon);
       $("#id_latitud").val(nlat);
           });

      }
    else
    {
         console.log("Browser doesn't support geolocation!");
    }

  </script>




{% endblock %}