{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">DETALLE EV. CALIDAD MMPP GR ICA 2021</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'creardetalleevcalmmppgrica2021' id subid %}" >
				<button type="button" class="btn btn-success">Registrar Detalle</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Brix1</td>
						<td>Brix2</td>
						<td>Brix3</td>
						<td>Brix4</td>
           
						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in detallepr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ dato.brix1 }}
							</td>
							<td>
								{{ dato.brix2 }}
							</td>
							<td>
								{{ dato.brix3 }}
							</td>
							<td>
								{{ dato.brix4 }}
							</td>
						
						
							
							

							<td>
							 	<a href="{% url 'editardetalleevcalmmppgrica2021'  id  subid dato.id %}"><i class="bi bi-pencil-square"></i></a>
							 		
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}


