{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<style>
	#logoathos{
		width: 100%;
		height: 100%;
	}
	#qr{
		width: 70%;
		margin-top: -65%;
		position: relative;
		left: 50%;
	}
	#material{
		width: 55%;
	}
</style>


<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
			<a href="{% url 'topico' 141  %}" >

				<button type="button" class="btn btn-success">Ir a Fichas</button>
			</a>
			<a href="javascript:history.go(-1)" >

				<button type="button" class="btn btn-secondary">Regresar</button>
			</a>
			
					<div class="card">
					<div class="card-header"><strong>IMPRIMIR</strong><small>FICHA EPI.</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				<div>	
				
					<br>
					<br>
					<img src="{% static 'login/images/icons/encabezadofichaepidemiologica.png' %}" id="logoathos"></a>
				</div>	
				<br>	
						
				<div class='form-group'>
					<h4><b></b></h4>
					
				</div>
				
				<div class='form-group'>
					<h6>He recibido informacion del objetivo de esta evaluación y me comprometo a responder con la verdad.</h6>
					<table>
						
						

						 <tr>
					      <td><b>EMPLEADOR</b></td>
					      <td>&nbsp {{buscar.anexo_empresa.razon_social}} </td>
					      <td><b>&nbsp &nbsp &nbsp &nbsp   RUC</b></td>
					      <td> &nbsp{{buscar.anexo_empresa.ruc}} </td>
					     
					    </tr>

					</table>
					<br>
					<table>
					    <tr>
					      <td><b>NOMBRES Y APELLIDOS </b></td>
					      <td> &nbsp {{buscar.nombre_completo}} </td>
					   	  
					    </tr>
					</table>
					<br>
					<table>
					    <tr>
					      <td><b>AREA DE TRABAJO </b></td>
					      <td> &nbsp {{buscar.area_trabajo}} </td>
					   	  
					   	   <td><b>&nbsp DNI </b></td>
					      <td> &nbsp {{buscar.dni}} &nbsp </td>
					    </tr>
					</table>
					<br>
					<table>
					    <tr>
					      <td><b>Direccion </b></td>
					      <td> &nbsp {{buscar.direccion}} </td>
					   	  
					   	   <td><b>&nbsp Celular </b></td>
					      <td> &nbsp {{buscar.celular}} &nbsp </td>
					    </tr>
					</table>
					<br>
					
				
					 <h7><b>En los ultimos 14 dias calendario ha tenido alguno de los sintomas siguientes?</b></h7>
					 <table>
					 	<tr>
					 		
					 		<td>1. Sensación termica de Alza o Fiebre</td>
					 		<td> &nbsp ({{buscar.anexo_preg1.desc}}) &nbsp </td>

					      
					 	</tr>
					 	<tr>
					 		
					 		
					 		<td>2.Tos, estornudos o dificultad para respirar </td>
					 		<td> &nbsp ({{buscar.anexo_preg2.desc}}) &nbsp </td>
					 	</tr>
					 	
					 	<tr>
					 		
					 		
					 		<td>3. Expectoracion o flema amarilla o verdosa</td>
					 		<td> &nbsp ({{buscar.anexo_preg3.desc}}) &nbsp </td>
					 	</tr>

					 	<tr>
					 		<td>4. Pérdida del gusto y/o olfato</td>
					 		<td> &nbsp ({{buscar.anexo_preg4.desc}}) &nbsp </td>
					 		
					 	</tr>


					 	<tr>
					 		<td>5. Contacto con persona(a) con caso confirmado de COVID 19</td>
					 		<td> &nbsp ({{buscar.anexo_preg5.desc}}) &nbsp </td>
					 		
					 	</tr>

					 	<tr>
					 		
					 		
					 		<td>6. Estas tomando alguna medicación</td>
					 		<td> &nbsp ({{buscar.anexo_preg6.desc}}) &nbsp </td>
					 	</tr>
					 </table>
					 <br>
					 <br>
					<table>
					<tr>
						<td><b>Fecha</b></td>
						<td> &nbsp {{buscar.fecha|date:'Y-m-d'}}</td>

						<td><b>&nbsp &nbsp &nbsp &nbsp &nbsp Firma</b></td>
						<td> ..................................</td>
					</tr>

				</table>
						
				</div>
					
		


			</form>
				
			<br>
			<br>
			<br>
	</div>

	</div>
</div>

</div>

</div>
</section>
{% endblock %}
{%block script%}
<script>

	
 

        

</script>
<script type="text/javascript" src="qrcode.js"></script>


	
</script>
{% endblock %}