{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<style>
	#logoathos{
		width: 100%;
		height: 100%;
	}
	#qr{
		width: 70%;
		margin-top: -85%;
		position: relative;
		left: 47%;
	}
	#material{
		width: 60%;
	}
	h4
	{
		font-size: 12px;
	}


</style>


<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
			<a href="{% url 'acopio_athos' 94  %}" >

				<button type="button" class="btn btn-success">Ir a Guia</button>
			</a>
			<a href="javascript:history.go(-1)" >

				<button type="button" class="btn btn-secondary">Regresar</button>
			</a>
			
					<div class="card">
					<div class="card-header"><strong>IMPRIMIR</strong><small>PALET</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				<div>	
				
					<br>
					<br>
					<img src="{% static 'login/images/icons/sig_ar_2022.png' %}" id="logoathos"></a>
				</div>	
				
				
				<div class='form-group'>
					<h3 align="center"><b>N° TICKET</b></h3>
					<h3 align="center" id="npalet" class="ticket"><b>{{palet.id}}</b></h3>
				</div>
					
				<div class='form-group'>
					<h4><b>PEP:</b></h4>
					<h4 id="pep"><b>{{pep}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>Fecha de Registro:</b></h4>
					<h4 id="Fecha"><b>{{palet.fecha_hora_creacion|date:'d/m/Y H:i:s'}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>Material:</b></h4>
					<h4 id="material"><b>{{palet.anexo_guiad.anexo_material.anexo_matmmpp.desc_material}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>N° De Guia:</b></h4>
					<h4 id="nroguia"><b>{{palet.anexo_guiad.anexo_guia.NroGuia}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>N° de Clamshell:</b></h4>
					<h4 id="cant_clamshell"><b>{{palet.cant_clamshell}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>N° de Jabas:</b></h4>
					<h4 id="cant_jabas"><b>{{palet.cant_jabas}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>Peso Neto:</b></h4>
					<h4 id="peso_neto"><b>{{palet.pesonet_palet}}</b></h4>
				</div>

				<div class='form-group'>
					<h4><b>Estatus</b></h4>
					<h4><b>{{palet.anexo_tipocalidadfruta}}</b></h4>

					
				</div>
				<div class='form-group'>
					<h4><b>Cal. Mat.</b></h4>
					<h4><b>{{palet.anexo_guiad.anexo_calidad.calidad}}</b></h4>
				</div>
				<div class='form-group'>
					<h4><b>Fecha Cosecha:</b></h4>
					<h4 id="fecha_cosecha"><b>{{palet.anexo_guiad.fecha_cosecha|date:'d/m/Y'}}</b></h4>
				</div>
			</form>
			<div align="center"id="qr">
					<div data-role="content">

					<input id="item_txt" type="text" placeholder="Ingresa algún texto">
					<button id="generarCodigo" class="btn btn-primary">Generar</button> 
					<div id="codigoQR"></div>
				</div>	
			</div>			
			<br>
			<br>
			<br>
	</div>

	</div>
</div>

</div>

</div>
</section>
{% endblock %}
{%block script%}
<script>

	$(document).ready(function(){
		var val0=$("#npalet").text();
		var val1=$("#nroguia").text();
		var val2=$("#npalet").text();
		var val3=$("#nroguia").text();
		var val4= $("#Fecha").text();
		var val5=$("#material").text();
		var val6=$("#pep").text();
		var val7=$("#peso_neto").text();
		var val8=$("#cant_jabas").text();
		var val9=$("#fecha_cosecha").text();
			
     		$("#item_txt").val(val0+"||"+val6+"||"+val4+"||"+val3+"||"+ val5+"||"+ val7+"||"+ val8+"||"+ val9); 
     		  $('#generarCodigo').click();
     		  window.print();
	
});
  
 

        

</script>
<script type="text/javascript" src="qrcode.js"></script>


	
</script>
{% endblock %}