{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">Guias Datil</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'crearguiaathosdt2021' id %}" >
				<button type="button" class="btn btn-success">Registrar Guia</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Nro Guia</td>
						
						
						<td>Chofer</td>
						<td>Vehiculo</td>
						<td>Ubic. Partida</td>
						<td>Ubic. llegada</td>
				
						<td>Fecha Transporte</td>
						<td>Fecha Creacion</td>

						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in guiaathospr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							
							<td>
								{{ dato.NroGuia }}
							</td>
							
						
						
							
							
							<td>
								{{ dato.anexo_chofer}}
							</td>
							<td>
								{{ dato.anexo_vehiculo}}
							</td>

							<td>
								{{ dato.ubic_partida }}
							</td>
							<td>
								{{ dato.ubic_llegada }}
							</td>
						
							<td>
								{{ dato.fecha_transporte }}
							</td>
							<td>
								{{ dato.fecha_hora_creacion }}
							</td>
							

							<td>
							 	<a href="{% url 'editarguiaathosdt2021'  id dato.id %}"><i class="bi bi-pencil-square"></i></a>
							 	<a href="{% url 'guiadetallesathosdt2021'  id dato.id %}"><i class="bi bi-eye-fill"></i></a>
								
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}