{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
    <article id="usuarios">
        <h1 id="h1-usuarios">DETALLE SOLUCIONES MADRES</h1>
        <div>
            <a href="{% url 'creardetallesolucionesmadres' id subid %}" >
                <button type="button" class="btn btn-success">Registrar Detalle</button>
            </a>

            <a href="{% url 'riego' id   %}" >
                <button type="button" class="btn btn-secondary">Atras</button>
            </a>

        </div>
        <div class="content mt-3">
        <div class="animated fadeIn">
        <div class="row">
        <div class="col-md-12">
        <div class="card">
        <div class="card-header">
        <strong class="card-title">REPORTE</strong>
        </div>
        <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>N°</td>
                        <td>Fertilizante</td>
                        <td>Cantidad</td>
                        <td>Accion</td>
                    </tr>
                </thead>
                <tbody id="reportes">
                    {% for dato in detallepr %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ dato.anexo_fertilizante }}
                            </td>
                            <td>
                                {{ dato.cantidad }}
                            </td>
                            <td>
                                 <a href="{% url 'editardetallesolucionesmadres' id  subid dato.id %}"><i class="bi bi-pencil-square"></i>
                                 </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            </div>
            </div>
            </div>
            </div>
            </div>
    </article>
</section>
{% endblock %}