{% extends 'base/baseathos.html' %}
{% block contenido%}



<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
					<div class="card">
					<div class="card-header"><strong>Registro</strong><small> EXPLOTACION POZO</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				<div class='form-group'>
					{{form.fecha.label}}
					{{form.fecha}}
				</div>
				
				<div class='form-group'>
					{{form.anexo_zona.label}}
					{{form.anexo_zona}}
				</div>
			
				<div class='form-group'>
					{{form.anexo_pozo.label}}
					{{form.anexo_pozo}}
				</div>
				
				<input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
			</form>
	</div>
	</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
     
      
      $('#id_anexo_zona').select2();
     
       $('#id_anexo_fundo').select2();
        
      $('#id_anexo_produccion').select2(); 
     
     // $("#id_anexo_cultivo").val(2).trigger('change');
      //$("#id_anexo_eje").val(2).trigger('change');







 function request_pozos (fundoId) {
		var urldata="/ajax/load-pozos/" + fundoId;



     
      $.ajax({                       
        url: urldata,                    
        data: {},
        success: function (data) {
        var option_html = `<option value="0" >---------</option>`;
        for (var i = 0; i < data.length; i++) { 	
        
        		
        			option_html += `<option value="${data[i].id}" >${data[i].codigo}-${data[i].nombre}</option>`;
        		
        } 
        $("#id_anexo_pozo").html(option_html);
        	console.log(option_html);
        },
        error: function(result) {
            console.log(result);
        }

      });

	} 
   
 







       $("#id_anexo_zona").change(function () { 

      var fundoId = $(this).val();
      	
      request_pozos(fundoId)
    });


  </script>

<script>  
  $(function () {  
   $("#id_fecha").datetimepicker({  
       format: 'd/m/Y',  
       timepicker:false  
   });  
  });  

 
 </script>
 <script>  
     $(document).ready(function () {  
           jQuery.datetimepicker.setLocale('es');  
     });  
   </script> 

   
    <script>  
     $(document).ready(function () {  
    
        if ("geolocation" in navigator)
          { //check geolocation available 
    //try to get user current location using getCurrentPosition() method
         navigator.geolocation.getCurrentPosition(function(position){ 
             console.log("Found your location nLat : "+position.coords.latitude+" nLang :"+ position.coords.longitude);
             lat=position.coords.latitude;
             lon=position.coords.longitude;

             nlat=Math.round((lat)*10000000)/10000000;
             nlon=Math.round((lon)*10000000)/10000000;
             $("#id_longitud").val(nlon);
       $("#id_latitud").val(nlat);
           });

      }
    else
    {
         console.log("Browser doesn't support geolocation!");
    }

     });  
   </script>


{% endblock %}