{% extends 'base/baseathos.html' %}
{% block contenido%}

<section class="contenedor" id="section-usuarios">
    <div id="registration-form">
        <div class='fieldset'>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><strong>Registro</strong><small>SOLUCIONES MADRES</small></div>
                    <div class="card-body card-block">
                        <form id="frmajax"  method="post" data-validate="parsley">
                            {% csrf_token %}

                            <div class='form-group'>
                                {{form.anexo_zona.label}}
                                {{form.anexo_zona}}
                            </div>
                            <div class='form-group'>
                                {{form.anexo_fundo.label}}
                                {{form.anexo_fundo}}
                            </div>
                            <div class='form-group'>
                                {{form.anio.label}}
                                {{form.anio}}
                            </div>
                            <div class='form-group'>
                                {{form.semana.label}}
                                {{form.semana}}
                            </div>
                            <div class='form-group'>
                                {{form.numero_tanque.label}}
                                {{form.numero_tanque}}
                            </div>

                            <input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{%block script%}

<script type="text/javascript">

    function request_zona (fundoId) {
        var urldata="/ajax/load-fundos/" + fundoId;

        $.ajax({                       
            url: urldata,                    
            data: {},
            success: function (data) {
                var option_html = `<option value="0" >---------</option>`;
                for (var i = 0; i < data.length; i++) {     


                    option_html += `<option value="${data[i].id}" >${data[i].nom_fundo}</option>`;

                } 
                $("#id_anexo_fundo").html(option_html);
                console.log(option_html);
            },
            error: function(result) {
                console.log(result);
            }

        });

    }

    function request_tanques (tanquesid) {
        var urldata="/ajax/load-tanques/" + tanquesid;

        $.ajax({
            url: urldata,                    
            data: {},
            success: function (data) {
                var option_html = `<option value="0" >---------</option>`;
                for (var i = 0; i < data.length; i++) {     

                    option_html += `<option value="${data[i].id}" >${data[i].anexo_fundo__nom_fundo}-${data[i].numero_tanque}</option>`;

                } 
                $("#id_numero_tanque").html(option_html);
                console.log(option_html);
            },
            error: function(result) {
                console.log(result);
            }

        });

    }

    $("#id_anexo_zona").change(function () { 

        var fundoId = $(this).val();

        request_zona(fundoId)
    });

    $("#id_anexo_fundo").change(function () { 

        var tanquesid = $(this).val();

        request_tanques(tanquesid)
    });
</script>

{% endblock %}