{% extends 'base/baseathos.html' %}
{% block contenido%}



<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
					<div class="card">
					<div class="card-header"><strong>Registro</strong><small> FICHA SINTOMATOLOGIA COVID</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				

				
				<div class='form-group'>
					{{form.anexo_empresa.label}}
					{{form.anexo_empresa}}
				</div>
				<div class='form-group'>
					{{form.dni.label}}
					{{form.dni}}
				</div>
				
				<div class='form-group'>
					{{form.nombre_completo.label}}
					{{form.nombre_completo}}
				</div>
				
				<div class='form-group'>
					{{form.area_trabajo.label}}
					{{form.area_trabajo}}
				</div>
				
				<div class='form-group'>
					{{form.direccion.label}}
					{{form.direccion}}
				</div>
				
				<div class='form-group'>
					{{form.celular.label}}
					{{form.celular}}
				</div>

			
				<div class='form-group'>
					{{form.anexo_preg1.label}}
					{{form.anexo_preg1}}
				</div>
				
				<div class='form-group'>
					{{form.anexo_preg2.label}}
					{{form.anexo_preg2}}
				</div>
				
				<div class='form-group'>
					{{form.anexo_preg3.label}}
					{{form.anexo_preg3}}
				</div>
				
				<div class='form-group'>
					{{form.anexo_preg4.label}}
					{{form.anexo_preg4}}
				</div>
				
				<div class='form-group'>
					{{form.anexo_preg5.label}}
					{{form.anexo_preg5}}
				</div>
			
				<div class='form-group'>
					{{form.anexo_preg6.label}}
					{{form.anexo_preg6}}
				</div>

				<div class='form-group'>
					{{form.fecha.label}}
					{{form.fecha}}
				</div>
				

				<input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
			</form>
	</div>
	</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block script %}
	 <script>  
 /*
window.onerror = function(errorMsg) {
	$('#console').html($('#console').html()+'<br>'+errorMsg)
}*/
$(function () {  
   $("#id_fecha").datetimepicker({  
       format: 'd/m/Y',  
       timepicker:false  
   });  

    
   
  });  
 </script>
 <script>  
     $(document).ready(function () {  
           jQuery.datetimepicker.setLocale('es');  
     });  
   </script> 
  <script>  
     $(document).ready(function () {  
		n =  new Date();
		y = n.getFullYear();
		//Mes
		m = n.getMonth() + 1;
		//Día
		d = n.getDate();

//Lo ordenas a gusto.
		 
       
	if(m<10)
    {
      if(d<10)
      {
        $("#id_fecha").val("0"+ d + "/" +"0" +m + "/" +y);
      }
      else
      {
        $("#id_fecha").val( d + "/" +"0" +m + "/" +y);  
      }
    }
    else
    {
       if(d<10)
      {
        $("#id_fecha").val("0"+ d + "/" + m + "/" +y);
      }
      else
      {
        $("#id_fecha").val( d + "/" + m + "/" +y);  
      }
    }
          

     });  
   </script>


<script >
	 function request_lugar (fundoId) {
		var urldata="/ajax/load-ubicacion/" + fundoId;
     
      $.ajax({                       
        url: urldata,                    
        data: {},
        success: function (data) {
        var option_html = `<option value="0" >---------</option>`;
        for (var i = 0; i < data.length; i++) { 	
        
        		
        			option_html += `<option value="${data[i].id}" >${data[i].Lugar}</option>`;
        		
        } 
        $("#id_anexo_lugar").html(option_html);
        	console.log(option_html);
        },


        error: function(result) {
            console.log(result);
        }
         

      });

	} 
      
    $("#id_anexo_zona").change(function () { 
       		console.log(fundoId);
      var fundoId = $(this).val();
      	
      request_lugar(fundoId) 

 });


 function request_datos_personal(ubicacionId) {

 		
 		
		var urldata="/ajax/load-datos-personal/" + ubicacionId;
     console.log(urldata);

      $.ajax({                       
        url: urldata,                			    
        data: {},

        success: function (data) {
     	console.log(data);
     
     		$('#id_nombre_completo').val(data[0].ApellidoPat +" " +data[0].ApellidoMat+"-"+data[0].Nombres);
     	
     		$('#id_genero').val(data[0].anexo_genero__desc);
     		
        
        },
        error: function(result) {
            console.log(result);
        }

      });

	}

	  $("#id_dni").change(function () { 

      var ubicacionId = $(this).val();
      	
      request_datos_personal(ubicacionId)
    });


</script>
{% endblock %}

