{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">DESCRIPCION LABORES ATHOS</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'creardescripcionlaboresathos' id %}" >
				<button type="button" class="btn btn-success">Registrar Descripcion</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Centro</td>
						<td>Cultivo</td>
						<td>Codigo Labor</td>
						<td>Tipo Labor</td>
						<td>Descripcion</td>
						<td>Accion</td>
						
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in descpr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ dato.anexo_centro }}
							</td>
							<td>
								{{ dato.anexo_cultivo }}
							</td>
							
							<td>
								{{ dato.codigo_labor }}
							</td>
							<td>
								{{ dato.anexo_tipolabor}}
							</td>
							<td>
								{{ dato.descripcion_labor}}
							</td>
							<td>
							 	<a href="{% url 'editardescripcionlaboresathos'  id dato.id %}"><i class="bi bi-pencil-square"></i></a>
								<!-- <a href="#"><img src="{% static 'login/images/icons/ver.png' %}" title="acceder"></a>-->
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}