{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">CONFIRMACIÓN TICKET 2022</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'campos' 127 %}" >
				<button type="button" class="btn btn-danger">Enfriado</button>
			</a>
			<a href="{% url 'confirmacionenfriado' id subid%}" >
				<button type="button" class="btn btn-primary">Palet</button>
			</a>
			<a href="{% url 'crearconfirmacionticketenfriado' id subid varid%}" >
				<button type="button" class="btn btn-success">Registrar Ticket</button>
			</a>
		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>ID</td>
						<td>Fecha</td>
						<td>N° Ticket</td>
						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in confirmaciontpr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ dato.fecha_hora_creacion |date:'d/m/Y H:i:s' }}
							</td>
							<td>
								{{ dato.n_ticket }}
							</td>
							<td>
							 	<a href="{% url 'editarconfirmacionticketenfriado' id subid dato.id varid%}"><i class="bi bi-pencil-square"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}
