{% extends 'base/baseathos.html' %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">CAPA2 - DETALLE PLANTA ATHOS</h1>
		<div>
			<a href="{% url 'creardetalleplantaevfenramasarandanos' id subid  %}" >
				<button type="button" class="btn btn-success">Registrar Detalle</button>
			</a>
			<a href="{% url 'evaluaciones' id %}" >
				<button type="button" class="btn btn-primary">Atras</button>
			</a>
		</div>
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">REPORTE</strong>
							</div>
							<div class="card-body">
								<table id="bootstrap-data-table" class="table table-striped table-bordered">
									<thead>
										<tr>
											<td>N°</td>
											<td>N° Planta</td>
											<td>Cantidad de Ramas</td>
											<td>Ramas en Producción</td>
											<td>Tira Savia</td>
											<td>Acción</td>
										</tr>
									</thead>
									<tbody id="reportes">
										{% for dato in detalleplantapr %}
										<tr>
											<td>
												{{ forloop.counter }}
											</td>
											<td>
												{{ dato.n_planta}}
											</td>
											<td>
												{{ dato.cant_ramas}}
											</td>
											<td>
												{{ dato.ramas_produccion}}
											</td>
											<td>
												{{ dato.tira_savia}}
											</td>
											<td>
												<a href="{% url 'editardetalleplantaevfenramasarandanos'  id subid dato.id  %}"><i class="bi bi-pencil-square"></i></a>
												<a href="{% url 'ramasevfenar' id subid dato.id %}"><i class="bi bi-eye-fill"></i></a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
{% endblock %}