{% extends 'base/baseathos.html' %}
{% block contenido%}

<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header"><strong>Registro</strong><small>TEMPERATURA DE AMBIENTE</small></div>
					<div class="card-body card-block">
						<form id="frmajax"  method="post" data-validate="parsley">
							{% csrf_token %}
							{% if form.errors %}
							{% for field in form %}
							{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ field.label|escape }}:</strong>
								<strong>{{ error|escape }}</strong>
							</div>
							{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
							{% endfor %}
							{% endif %}
							<div class='form-group'>
								{{form.m_tempambiente.label}}
								{{form.m_tempambiente}}
							</div>
							<input type="submit" value="Registrar" id="registrar" class="btn btn-success">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}