{% extends 'base/baseathos.html' %}
{% block contenido%}

<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
          <div class="col-lg-6">
             <div class="card">
                 <div class="card-header"><strong>Registro</strong><small> Análisis de Eficiencia</small></div>
                 <div class="card-body card-block">
                   <form id="frmajax"  method="post" data-validate="parsley">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label|escape }}:</strong>
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class='form-group'>
                        {{form.npalet.label}}
                        {{form.npalet}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_planta.label}}
                        {{form.anexo_planta}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_calibre.label}}
                        {{form.anexo_calibre}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_linea.label}}
                        {{form.anexo_linea}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_envase.label}}
                        {{form.anexo_envase}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_cliente.label}}
                        {{form.anexo_cliente}}
                    </div>
                    <div class='form-group'>
                        {{form.anexo_turno.label}}
                        {{form.anexo_turno}}
                    </div>
                    <div class='form-group'>
                        {{form.firmeza_1.label}}
                        {{form.firmeza_1}}
                    </div>
                    <div class='form-group'>
                        {{form.firmeza_2.label}}
                        {{form.firmeza_2}}
                    </div>
                    <div class='form-group'>
                        {{form.firmeza_3.label}}
                        {{form.firmeza_3}}
                    </div>
                    <div class='form-group'>
                        {{form.bloom_1.label}}
                        {{form.bloom_1}}
                    </div>
                    <div class='form-group'>
                        {{form.bloom_2.label}}
                        {{form.bloom_2}}
                    </div>
                    <div class='form-group'>
                        {{form.bloom_3.label}}
                        {{form.bloom_3}}
                    </div>
                    <div class='form-group'>
                        {{form.bloom_4.label}}
                        {{form.bloom_4}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion1.label}}
                        {{form.condicion1}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion2.label}}
                        {{form.condicion2}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion3.label}}
                        {{form.condicion3}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion4.label}}
                        {{form.condicion4}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion5.label}}
                        {{form.condicion5}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion6.label}}
                        {{form.condicion6}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion7.label}}
                        {{form.condicion7}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion8.label}}
                        {{form.condicion8}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion9.label}}
                        {{form.condicion9}}
                    </div>
                    <div class='form-group'>
                        {{form.condicion10.label}}
                        {{form.condicion10}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad1.label}}
                        {{form.calidad1}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad2.label}}
                        {{form.calidad2}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad3.label}}
                        {{form.calidad3}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad4.label}}
                        {{form.calidad4}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad5.label}}
                        {{form.calidad5}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad6.label}}
                        {{form.calidad6}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad7.label}}
                        {{form.calidad7}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad8.label}}
                        {{form.calidad8}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad9.label}}
                        {{form.calidad9}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad10.label}}
                        {{form.calidad10}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad11.label}}
                        {{form.calidad11}}
                    </div>
                    <div class='form-group'>
                        {{form.calidad12.label}}
                        {{form.calidad12}}
                    </div>
                    <div class='form-group'>
                        {{form.fitosanitario1.label}}
                        {{form.fitosanitario1}}
                    </div>
                    <div class='form-group'>
                        {{form.fitosanitario2.label}}
                        {{form.fitosanitario2}}
                    </div>
                    <div class='form-group'>
                        {{form.fitosanitario3.label}}
                        {{form.fitosanitario3}}
                    </div>
                    
                    <input type="submit" value="Registrar" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}

{%block script%}

<script type="text/javascript">
    $(document).ready(function(){
        $("#id_anexo_cliente").select2();
    });
</script>

<script>
    $('#id_anexo_planta').on('change', function(){
        var lineaId = $(this).val();
        
        switch(lineaId){
            case "1":
            request_linea(3);
            break;
            case "2":
            request_linea(1);
            break;
            case "3":
            request_linea(8);
            break;
        }

    })
</script>

<script>
    function request_linea(centroId) {
        var urldata="/ajax/load-lineas/" + centroId;
        $.ajax({
            url: urldata,                   
            data: {},
            success: function (data) {
                var option_html = `<option value="0" >---------</option>`;
                for (var i = 0; i < data.length; i++) {
                    option_html += `<option value="${data[i].id}" >${data[i].descripcion}</option>`;
                }
                $("#id_anexo_linea").html(option_html);
                console.log(option_html)
            },
            error: function(result) {
                console.log(result);
            }
        });
    }
</script>
{% endblock %}