{% extends 'base/baseathos.html' %}
{% block contenido%}



<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
		<div class="col-lg-6">
					<div class="card">
					<div class="card-header"><strong>Registro</strong><small> RUTAS ATHOS</small></div>
					<div class="card-body card-block">
			<form id="frmajax"  method="post" data-validate="parsley">
				{% csrf_token %}
				

				<div class='form-group'>
					{{form.rutas.label}}
					{{form.rutas}}
				</div>
				<div class='form-group'>
					{{form.precio.label}}
					{{form.precio}}
				</div>
				<div class='form-group'>
					{{form.anexo_lugar.label}}
					{{form.anexo_lugar}}
				</div>
				
				<input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
			</form>
	</div>
	</div>
</div>
</div>
</div>
</section>
{% endblock %}

{%block script%}
<script type="text/javascript">
      $('#id_anexo_lugar').select2();
  
  </script>
{%endblock%} 