{% extends 'base/baseathos.html' %}
{% block contenido%}

<section class="contenedor" id="section-usuarios">
	<div id="registration-form">
		<div class='fieldset'>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header"><strong>Registro</strong><small> RAMAS - YEMA</small></div>
					<div class="card-body card-block">
						<form id="frmajax"  method="post" data-validate="parsley">
							{% csrf_token %}
							<div class='form-group'>
								{{form.anexo_diametro.label}}
								{{form.anexo_diametro}}
							</div>
							<div class='form-group'>
								{{form.diametro.label}}
								{{form.diametro}}
							</div>
							<div class='form-group'>
								{{form.altura.label}}
								{{form.altura}}
							</div>
							<div class='form-group'>
								{{form.num_ramas.label}}
								{{form.num_ramas}}
							</div>
							<div class='form-group'>
								{{form.primera_poda.label}}
								{{form.primera_poda}}
							</div>
							<div class='form-group'>
								{{form.segunda_poda.label}}
								{{form.segunda_poda}}
							</div>
							<div class='form-group'>
								{{form.tercera_poda.label}}
								{{form.tercera_poda}}
							</div>
							<div class='form-group'>
								{{form.cuarta_poda.label}}
								{{form.cuarta_poda}}
							</div>
							<div class='form-group'>
								{{form.quinta_poda.label}}
								{{form.quinta_poda}}
							</div>
							<div class='form-group'>
								{{form.longitud.label}}
								{{form.longitud}}
							</div>
							<div class='form-group'>
								{{form.latitud.label}}
								{{form.latitud}}
							</div>
							<input type="submit" value="Registrar" id="registrar" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{%block script%}
<script>  
	$(document).ready(function () {  
		if ("geolocation" in navigator)
          { //check geolocation available 
    //try to get user current location using getCurrentPosition() method
    navigator.geolocation.getCurrentPosition(function(position){ 
    	lat=position.coords.latitude;
    	lon=position.coords.longitude;
    	nlat=Math.round((lat)*10000000)/10000000;
    	nlon=Math.round((lon)*10000000)/10000000;
    	$("#id_longitud").val(nlon);
    	$("#id_latitud").val(nlat);
    });
  }
  else
  {
  	console.log("Browser doesn't support geolocation!");
  }
});  
</script>
{%endblock%}