{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">PROYECCION SEMANAL</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'crearproyecciones' id %}" >
				<button type="button" class="btn btn-success">Registrar Proyeccion</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Año</td>
						<td>Semana</td>
						<td>Cultivo</td>
						 <td>Zona</td>
						 <td>Fundo</td>
						 <td>Variable</td>
						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					
					{% for dato in proyeccionespr %}
							
					
							
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							
							<td>
								{{ dato.anio}}
							</td>

							<td id="data_semana">
								{{ dato.semana }}
							</td>
							<td>
								{{ dato.anexo_cultivo}}
							</td>
							<td>
								{{ dato.anexo_eje}}
							</td>
							<td>
								{{ dato.anexo_fundo}}
							</td>
							
							<td>
								{{ dato.anexo_variable.Variable}}
							</td>


							<td>
								
   								<a href="{% url 'editarproyecciones'  id dato.id %}" id="editar"><i class="bi bi-pencil-square"></i></a>	
								
									{%block script%}
							<script type="text/javascript">

							Date.prototype.getWeekNumber = function () {
									var d = new Date(); 
									d.setHours(0, 0, 0, 0); 
									d.setDate(d.getDate() + 4 - (d.getDay() || 7)); 
									return Math.ceil((((d - new Date(d.getFullYear(), 0, 1)) / 8.64e7) + 1) / 7);
									 };

								n =  new Date();
									y = n.getFullYear();
									//Mes
									m = n.getMonth() + 1;
									//Día
									d = n.getDate();

								var sem= new Date(y,m,d).getWeekNumber();
								
								let sem_dig=document.getElementById("data_semana").innerHTML;
								var sem_dig1=parseInt(sem_dig);
								console.log("semana_1")
								console.log(sem_dig1);
								if (sem>=sem_dig1)
								{
									document.getElementById("editar").style.display=none;
								}


							</script>

						{% endblock %}
							 


							 	<a href="{% url 'detalleproyeccionarandano'  id dato.id %}"><i class="bi bi-eye-fill"></i></a>

								<a href="{% url 'proyeccionsemanalarandano' id dato.id   %}"><i class="bi bi-arrow-up-circle-fill"></i></a>

							
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}
