{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">SUB VARIABLE AGRONOMICA</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'crearsubvariableagronomica' id subid %}" >
				<button type="button" class="btn btn-success">Registrar Sub-Variable</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>Variable</td>
						<td>SubVariable</td>
						<td>Descripcion</td>
						
						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in subvariablepr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							
							<td>
								{{ dato.anexo_variable }}
							</td>

							<td>
								{{ dato.sub_variable }}
							</td>
							<td>
								{{ dato.descripcion }}
							</td>
													
							
							

							<td>
							 	<a href="{% url 'editarsubvariableagronomica'  id subid dato.id %}"><i class="bi bi-pencil-square"></i></a>
								
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}