{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">Guia Detalle Athos</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'crearguiadetallesathoshgpisco2021' id subid  %}" >
				<button type="button" class="btn btn-success">Registrar Detalle</button>
			</a>
			<a href="{% url 'acopio_athos_04' id %}" >
				<button type="button" class="btn btn-primary">Ir a Guia</button>
			</a>


		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>PEP</td>
						<td>Cantidad de Jabas</td>
						<td>Jabas Consumidas</td>
						<td>Jabas Saldo</td>
						<td>Peso Jabas</td>
						<td>Material Acopio</td>
						<td>Calidad</td>
						<td>Fecha Cosecha</td>
						

						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in guiadetallespr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							
							<td>
								{{ dato.anexo_ubi_mmpp}}
							</td>
							
							<td>
								{{ dato.cant_jabas }}
							</td>
							<td>
								{{ dato.suma_jabas_palets }}
							</td>
							<td>
								{{ dato.resto_jabas }}
							</td>
							<td>
								{{ dato.peso_jabas }}
							</td>
							<td>
								{{ dato.anexo_material }}
							</td>
							<td>
								{{ dato.anexo_calidad }}
							</td>
							<td>
								{{ dato.fecha_cosecha }}
							</td>
							

							<td>
							 	<a href="{% url 'editarguiadetallesathoshgpisco2021'  id subid dato.id  %}"><i class="bi bi-pencil-square"></i></a>
							 	<a href="{% url 'infopalethgpisco2021' id subid dato.id %}"><i class="bi bi-eye-fill"></i></a>
								
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}