{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">PRODUCTOS AUTORIZADOS ATHOS</h1>
		<div>
			<!--  data-toggle="modal" data-target="#scrollmodal" -->
			<a href="{% url 'crearproductosautorizados' id  subid %}" >
				<button type="button" class="btn btn-success">Registrar Productos</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						
						<td>Familia</td>
						<td>Codigo Mat</td>
						<td>Nom. Comercial</td>
						<td>Ingredientes</td>
						<td>Toxico</td>
						<td>Estado</td>
						<td>Acción</td>
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in detallepr %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ dato.anexo_producto}}
							</td>
							<td>
								{{ dato.codigo_material}}
							</td>
							<td>
								{{ dato.nom_comercial}}
							</td>
							<td>
								{{ dato.anexo_ingrediente}}
							</td>
							
							<td>
								{{ dato.anexo_toxico}}
							</td>
							
							<td>
								{{ dato.anexo_estado}}
							</td>
							

							<td>
							 	<a href="{% url 'editarproductosautorizados'  id  subid dato.id %}"><i class="bi bi-pencil-square"></i></a>
								
								<a href="{% url 'detalleproductosautorizados' id subid dato.id  %}"><i class="bi bi-eye-fill"></i></a>
								<a href="{% url 'detallelmrpa' id subid dato.id  %}"><i class="bi bi-sun-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}