{% extends 'base/baseathos.html' %}
{% load staticfiles %}
{% load extras %}
{% block contenido%}
<section class="contenedor" id="section-usuarios">
	<article id="usuarios">
		<h1 id="h1-usuarios">ALQUILER DE MAQUINARIAS</h1>
		<div>
			<a href="{% url 'crearmantenimientoequipoplantaathos' id %}" >
				<button type="button" class="btn btn-success">Registrar Alquiler</button>
			</a>

		</div>
		<div class="content mt-3">
		<div class="animated fadeIn">
		<div class="row">
		<div class="col-md-12">
		<div class="card">
		<div class="card-header">
		<strong class="card-title">REPORTE</strong>
		</div>
		<div class="card-body">
		<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<td>N°</td>
						<td>FUNDO</td>
						<td>CULTIVO</td>
						<td>PROVEEDOR</td>
						<td>Accion</td>
						
					</tr>
				</thead>
				<tbody id="reportes">
					{% for dato in var_mantenimiento %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ dato.anexo_fundo }}
							</td>
							<td>
								{{ dato.anexo_cultivo }}
							</td>
							
							<td>
								{{ dato.anexo_proveedor }}
							</td>
							
							<td>
							 	<a href="{% url 'editarmantenimientoequipoplantaathos'  id dato.id %}"><img src="{% static 'login/images/icons/editar1.png' %}" title="editar">
							 	</a>
							 	<a href="{% url 'detallemantenimientoequipoplantaathos'  id dato.id %}"><img src="{% static 'login/images/icons/ver.png' %}" title="acceder"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	</article>
</section>
{% endblock %}